<div class="bg-img">
<div class="container">
    <mat-label><h3>CPDT LOGIN</h3></mat-label>
    
    <mat-form-field>
        <mat-label>Enter Username</mat-label>
        <br>
        <input matInput  [type]="text" required>
    </mat-form-field>
    <mat-form-field> 
    
    
        <mat-label>Enter Password</mat-label>
        <br>
    <input matInput placeholder="Enter your password" [type]="hide ? 'password' : 'text'" [formControl]="password" required>
    <br>
    <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
</mat-form-field>
    
   <button (click)="login()" class="btn">Login</button>
    
   <a href="http://www.w3schools.com" style="font-size: 18pt"><h5>Forgot Password?</h5></a>
   
    
    
</div>
</div>
<!-- <div class="example-container">
    <mat-form-field>
      <input matInput placeholder="Input">
    </mat-form-field>
</div> -->
<router-outlet></router-outlet>

